
.positionAndDate #position {
    float: left;
    font-size: 28px;
    font-weight: bold;
}
.positionAndDate #date {
    float: right;
    font-size: 20px;
}
.companyAndLocation {
    clear:both;
}
.companyAndLocation #company{
    float: left;
    font-size: 25px;
}
.companyAndLocation #location{
    float: right;
    font-size: 20px
}
.icons {
    margin: 10px;
}
