.navBar {
    background-color: #af97ff;
}
#name {
    font-size: 30px;
    font-weight: bold;
}
.link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.link:hover {
    transform: scale(1.2, 1.2);
    color: #ece6ff;
}
.active {
    color: #ece6ff;
  }